*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.userBox{
    background-color: #201F1F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 1400px;
    margin: 40px auto;
    border-radius: 10px;
}

.active{
    background-color: orange;
    color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
}

.deactive{
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
}