body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 2;
    padding: 3;
}

.container {
    width: 450px;
    margin: 60px auto;
    background-color: #fafafa;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.input-u {
    margin-bottom: 15px;
}

.input-u label {
    display: block;
    margin-bottom: 5px;
}

.input-u input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn_log {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #cc9124;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn_log:hover {
    background-color: #d4a449;
}
